site:
  name: amoschan.com
  tagline: Software developer in Montreal, Quebec
  user: Amos Chan
  site_map: >
    [Tags][t] · [About][a] · [Commits][c]

    [t]: /tags.html

    [a]: /about.html

    [c]: /commits.html
  description: >
    I write code at [@varagesale][vs] and obsess over TDD, mobile and web
    development.

    [vs]: http://varagesale.com
  post_limit: 8
