<!DOCTYPE html>
<html>
  <head>
  <title>{{ title }} » amoschan.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:400,100,100italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="navbar-header">
              <div id="site-name" class="row">
                <div class="col-sm-12">
                  amoschan.com
                </div>
              </div>
              <div id="site-description" class="row">
                <div class="col-sm-12">
                  Web developer, TDD enthusiast, creator of
                  <a href="http://didgomezscore.com">Did Gomez Score?</a> and
                  <a href="http://appworld.blackberry.com/webstore/content/23060906/">Snooby</a>.
                </div>
              </div>
              <div id="related-links" class="row">
                <div class="col-xs-12">
                  <a href="http://github.com/achan"><i class="fa fa-github-alt"></i></a>
                  <a href="http://stackoverflow.com/users/567090/achan"><i class="fa fa-stack-exchange"></i></a>
                  <a href="http://twitter.com/amosfreakinchan"><i class="fa fa-twitter"></i></a>
                  <a href="http://facebook.com/amoschan"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
