<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <article class="page {{ page.slug }}">
        <header>
          <h1>
            <a class="permalink" href="{{page.permalink}}">{{page.title}}</a>
          </h1>
        </header>

        {{page.html}}

        <footer>
          <i class="fa fa-certificate icon-2x"></i>
        </footer>
      </article>
    </div>
  </div>
</div>
