<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <article class="tweet {{ post.slug }}">
        <blockquote class="twitter-tweet" lang="en" align="center">
          {{ post.html }}
          <a href="{{ post.tweet }}">{{ post.timestamp }}</a>
        </blockquote>
        <footer>
          <i class="fa fa-certificate icon-2x"></i>
        </footer>
      </article>
    </div>
  </div>
</div>

